{% extends "layout/base.html" %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Crear Sitio</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);"></a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header Close -->

        <!-- Start::row-1 -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active border-0 p-0" id="order-tab-pane" role="tabpanel"
                aria-labelledby="order-tab-pane" tabindex="0">
                <div class="p-4">
                    <div class="fs-15 fw-semibold d-sm-flex d-block align-items-center justify-content-between mb-3">
                        <div class="mt-sm-0 mt-2">
                            <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#modal-new-address"><i class="ri-add-line me-1 align-middle fs-14 fw-semibold d-inline-block"></i>Add New Address</button>
                            <div class="modal fade"  id="modal-new-address" tabindex="-1" aria-labelledby="modal-new-address" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="staticBackdropLabel">Crear Sitio
                                            </h6>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row gy-3">
                                                <div class="col-xl-3">
                                                    <label for="fullname-new" class="form-label">TRACKER</label>
                                                    <input type="text" class="form-control" id="fullname-new" placeholder="TRACKER">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="fullname-new" class="form-label">ATT ID</label>
                                                    <input type="text" class="form-control" id="fullname-new" placeholder="ATT ID">
                                                </div>
                                           
                                                <div class="col-xl-3">
                                                    <label for="fullname-new" class="form-label">NOMBRE</label>
                                                    <input type="text" class="form-control" id="phonenumber-new" placeholder="LATITUD">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="address-new" class="form-label">IDE LITE</label>
                                                    <input type="text" class="form-control" id="address-new" placeholder="IDE LITE">
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">IDE ROJO</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="IDE LITE">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">IDE NARANJA</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="IDE NARANJA">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">IDEN</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="IDEN">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">LATITUD</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="LATITUD">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">LONGITUD</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="LONGITUD">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">ESTADO</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="ESTADO">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">MUNICIPIO</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="MUNICIPIO">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">MERCADO</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="MERCADO">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">REGION CELULAR</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="REGION CELULAR">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">REGION</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="REGION">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">VENDOR</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="VENDOR">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">COBERTURA</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="COBERTURA">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TIPO</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TIPO">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">PROYECTO</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="PROYECTO">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">CLASIFICACION</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="CLASIFICACION">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TECNOLOGIA</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TECNOLOGIA">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            <label for="address-new" class="form-label">CONFIGURACION 3G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="CONFIGURACION 3G">
                                                        </div>
                                                        <div class="col-xl-5">
                                                            <label for="address-new" class="form-label">CONFIGURACION 4G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="CONFIGURACION 4G">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">CONFIGURACION 5G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="CONFIGURACION 5G">
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">IOT</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="IOT">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">THD</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="THD">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 3G LTE 5G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 3G LTE 5G">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 3G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 3G">
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 4G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 4G">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 5G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 5G">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">SL</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="SL">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">REUBICACION</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="REUBICACION">
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">NOTAS</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="NOTAS">
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label for="address-new" class="form-label">COMENTARIOS OPERACIONES</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="COMENTARIOS OPERACIONES">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 3G LTE 5G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 3G LTE 5G">
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="row">
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">IOT</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="IOT">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">THD</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="THD">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 3G LTE 5G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 3G LTE 5G">
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <label for="address-new" class="form-label">TRAFICO 3G</label>
                                                            <input type="text" class="form-control" id="address-new" placeholder="TRAFICO 3G">
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success">Save
                                                Address</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade border-0 p-0" id="confirm-tab-pane"
                role="tabpanel" aria-labelledby="confirm-tab-pane" tabindex="0">
                <div class="p-4">
                    <p class="mb-1 fw-semibold text-muted op-5 fs-20">02</p>
                    <div class="fs-15 fw-semibold d-sm-flex d-block align-items-center justify-content-between mb-3">
                        <div>Nuevo Sitio :</div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-xl-6">
                            <label for="firstname-personal" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname-personal" placeholder="First Name" value="Json">
                        </div>
                        <div class="col-xl-6">
                            <label for="lastname-personal" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastname-personal" placeholder="Last Name" value="Taylor">
                        </div>
                        <div class="col-xl-6">
                            <label for="email-personal" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email-personal" placeholder="xyz@example.com" value="">
                        </div>
                        <div class="col-xl-6">
                            <label for="phoneno-personal" class="form-label">Phone no</label>
                            <input type="text" class="form-control" id="phoneno-personal" placeholder="(555)-555-1234" value="">
                        </div>
                        <div class="col-xxl-2">
                            <label for="pincode-personal" class="form-label">Pincode</label>
                            <input type="text" class="form-control" id="pincode-personal" placeholder="200017" value="">
                        </div>
                        <div class="col-xxl-4">
                            <label for="choices-single-default" class="form-label">City</label>
                            <select class="form-control" data-trigger name="choices-single-default" id="choices-single-default">
                                <option value="Choice 1">Georgetown</option>
                                <option value="Choice 2">Alexandria</option>
                                <option value="Choice 3">Rockville</option>
                                <option value="Choice 4">Frederick</option>
                            </select>
                        </div>
                        <div class="col-xxl-4">
                            <label for="choices-single-default1" class="form-label">State</label>
                            <select class="form-control" data-trigger id="choices-single-default1">
                                <option value="Choice 1">Washington,D.C</option>
                                <option value="Choice 2">California</option>
                                <option value="Choice 3">Texas</option>
                                <option value="Choice 4">Alaska</option>
                            </select>
                        </div>
                        <div class="col-xxl-2">
                            <label for="country-personal" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country-personal" placeholder="Country" value="USA">
                        </div>
                        <div class="col-xl-12">
                            <label for="text-area" class="form-label">Address</label>
                            <textarea class="form-control" id="text-area" rows="4"></textarea>
                            <div class="form-check mt-1">
                                <input class="form-check-input form-checked-outline form-checked-success" type="checkbox" value="" id="invalidCheck1" required checked>
                                <label class="form-check-label text-success fs-12" for="invalidCheck1">
                                    Same as Shipping Address Address ?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body add-products p-0">
                        <div class="p-4">
                            <div class="row gx-5">
                                <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-6">
                                    <div class="card custom-card shadow-none mb-0 border-0">
                                        <div class="card-body p-0">
                                            <div class="row gy-4">
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">TRACKER</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TRACKER">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ATT ID</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ATT ID">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">NOMBRE</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="NOMBRE">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">IDE LITE</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="IDE LITE">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">IDE ROJO</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="IDE ROJO">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">IDE NARANJA</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="IDE NARANJA">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">IDEN</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="IDEN">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">LATITUD</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="LATITUD">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">LONGITUD</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="LONGITUD">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ESTADO</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ESTADO">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">MUNICIPIO</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="MUNICIPIO">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">MERCADO</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="MERCADO">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">REGION CELULAR</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="REGION CELULAR">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">CLASIFICACION</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="CLASIFICACION">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">TECNOLOGIA</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TECNOLOGIA">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">CONFIGURACION 3G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="CONFIGURACION 3G">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">THD</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="THD">
                                                </div>
                                                <div class="col-xl-5">
                                                    <label for="product-name-add" class="form-label">TRAFICO 3G LTE 5G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TRAFICO 3G LTE 5G">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">TRAFICO 3G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TRAFICO 3G">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">NOTAS</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="NOTAS">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">COMENTARIO OPERACIONES</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="COMENTARIO OPERACIONES">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">PLAN</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="PLAN">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE LTE B5 850</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE LTE B5 850">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE LTE B2 PCS</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE LTE B2 PCS">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE LTE B4 AWS</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE LTE B4 AWS">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE LTE B7 2600</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE LTE B7 2600">
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-6">
                                    <div class="card custom-card shadow-none mb-0 border-0">
                                        <div class="card-body p-0">
                                            <div class="row gy-4">
                                                
                                                
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">VENDOR</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="VENDOR">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">COBERTURA</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="COBERTURA">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">TIPO</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TIPO">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">PROYECTO</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="PROYECTO">
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="product-name-add" class="form-label">CONFIGURACION 4G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="CONFIGURACION 4G">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">CONFIGURACION 5G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="CONFIGURACION 5G">
                                                </div>
                                                <div class="col-xl-2">
                                                    <label for="product-name-add" class="form-label">IOT</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="IOT">
                                                </div>
                                              
                                               
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">TRAFICO 4G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TRAFICO 4G">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">TRAFICO 5G</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="TRAFICO 5G">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="product-name-add" class="form-label">SL</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="SL">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">REUBICACION</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="REUBICACION">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE 3G B5 850</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE 3G B5 850">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE 3G B2 PCS</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE 3G B2 PCS">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE 3G B4 AWS</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE 3G B4 AWS">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE LTE B26 800</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE LTE B26 800">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE LTE B38 2600</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE LTE B38 2600">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE 5G B7 2600</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE 5G B7 2600">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="product-name-add" class="form-label">ENE 5G B38 2600</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE 5G B38 2600">
                                                </div>
                                                <div class="col-xl-5">
                                                    <label for="product-name-add" class="form-label">ENE COMENTARIO OPERACIONES</label>
                                                    <input type="text" class="form-control" id="product-name-add" placeholder="ENE COMENTARIO OPERACIONES">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-3 border-top border-block-start-dashed d-sm-flex justify-content-end">
                            <button class="btn btn-primary-light m-1">Add Product<i class="bi bi-plus-lg ms-2"></i></button>
                            <button class="btn btn-success-light m-1">Save Product<i class="bi bi-download ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End::row-1 -->

    </div>
</div>
  </div>
</div>

{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}