{% extends "layout/base.html" %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div class="ms-md-1 ms-0">
            
            </div>
        </div>    
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                        <div class="card-title">
                            Migración<span class="badge bg-light text-default rounded ms-1 fs-12 align-middle"></span>
                        </div>
                        <div class="d-flex flex-wrap gap-2">
                            <a href="{% url 'index' %}">
                                <button class="btn btn-secondary-light btn-wav">Inicio</button>
                            </a>
                            <a href="{% url 'listarFiltroMigracion' %}">
                            <button class="btn btn-secondary-light btn-wav">Listar Migración</button>
                            </a>
                            <a href="{% url 'cargarFiltroMigracion' %}"> 
                            <button class="btn btn-secondary-light btn-wav">Cargar Migración</button>
                            </a> 
                            
                            <a href="{% url 'crearSitios' %}">
                               <button class="btn btn-secondary-light btn-wav">Crear Migración</button>
                            </a>
                            <button class="btn btn-secondary-light btn-wav">Exportar CSV</button>
                            <a href="{% url 'mapas' %}">
                                <button class="btn btn-secondary-light btn-wav">Mapas</button>
                            </a>
                            <a href="{% url 'reportes' %}">
                            <button class="btn btn-secondary-light btn-wav">Reportes</button>
                            </a>
                            <div class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-secondary-light btn-wav"
                                    type="submit"><i class="bx bx-search-alt-2"></i></button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div id="table-scroll" class="table-responsive">
                            {%if entity %}
                            <table   class="table text-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th><strong>ID ATT</strong></th>  
                                        <th><strong>TX</strong></th>  
                                        <th><strong>GRUPOS</strong></th>  
                                        <th><strong>DETALLE</strong></th>  
                                        <th><strong>CONTROL</strong></th>  
                                        <th><strong>MARKET</strong></th>  
                                        <th><strong>PROYECTO</strong></th>  
                                        <th><strong>REAL_MIGRACION</strong></th>  
                                        <th><strong>SCOPE</strong></th>  
                                        <th><strong>STATUS</strong></th>  
                                        <th><strong>TX_TYPE</strong></th>  
                                        <th><strong>ACTIONS</strong></th> 

                                    </tr>
                                </thead>
                                {% else %}
                            <div><h1>No Existen Sitios Registrados</h1></div>
                            {% endif %}
                            <tbody>
                                {% for m in entity %}
                                <tr>
                                    <tr>
                                        <td>{{m.ID_ATT_M}}</td>  
                                        <td>{{m.ORIGEN_TX}}</td>  
                                        <td>{{m.TX_GRUPOS}}</td>  
                                        <td>{{m.TX_DETALLE}}</td>  
                                        <td>{{m.CONTROL}}</td>  
                                        <td>{{m.MARKET}}</td>  
                                        <td>{{m.PROYECTO}}</td>  
                                        <td>{{m.REAL_MIGRACION}}</td>  
                                        <td>{{m.SCOPE}}</td>  
                                        <td>{{m.STATUS}}</td>  	
                                        <td>{{m.TX_TYPE}}</td>  	
                                  
                                      
                                    <td>
                                        <div class="hstack gap-2 fs-15">
                                            <a href="javascript:void(0);" class="btn btn-teal-light btn-wave"><i class="bx bx-show"></i></a>
                                            <a href="{% url 'crearSitios'%}" class="btn btn-secondary-light btn-wave"><i class="bx bx-plus"></i></a>
                                            <a href="javascript:void(0);" class="btn btn-orange-light btn-wave"><i class="bx bx-pencil"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        {% include 'sitios/paginator.html'%}
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
    <script src="/static/js/jquery.min.js"></script>
   
        <!-- End::app-content -->
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}