<!-- Choices JS -->
<script src="/static/libs/choices.js/public/assets/scripts/choices.min.js"></script>
<!-- Main Theme Js -->
<script src="/static/js/main.js"></script>
<!-- Popper JS -->
<script src="/static/libs/@popperjs/core/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Defaultmenu JS -->
<script src="/static/js/defaultmenu.min.js"></script>
<!-- Node Waves JS-->
<script src="/static/libs/node-waves/waves.min.js"></script>
<!-- Sticky JS -->
<script src="/static/js/sticky.js"></script>
<!-- Simplebar JS -->
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/js/simplebar.js"></script>
<!-- Color Picker JS -->
<script src="/static/libs/@simonwep/pickr/pickr.es5.min.js"></script>
<!-- JSVector Maps JS -->
<script src="/static/libs/jsvectormap/js/jsvectormap.min.js"></script>
<!-- JSVector Maps MapsJS -->
<script src="/static/libs/jsvectormap/maps/world-merc.js"></script>
<!-- Apex Charts JS -->
<script src="/static/libs/apexcharts/apexcharts.min.js"></script>
 <!-- Internal Apex Mixed Charts JS -->
 <script src="/static/js/apexcharts-mixed.js"></script>
<!-- Chartjs Chart JS -->
<script src="/static/libs/chart.js/chart.min.js"></script>
<!-- CRM-Dashboard -->
<script src="/static/js/crm-dashboard.js"></script>
<!-- Custom JS -->
<script src="/static/js/custom.js"></script>
<!-- Custom-Switcher JS -->
<script src="/static/js/custom-switcher.min.js"></script>
  <!-- Prism JS -->
  <script src="/static/libs/prismjs/prism.js"></script>
  <script src="/static/js/prism-custom.js"></script>
<!-- Filepond JS -->
<script src="/static/libs/filepond/filepond.min.js"></script>
<script src="/static/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
<script src="/static/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="/static/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
<script src="/static/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
<script src="/static/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.js"></script>
<script src="/static/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
<script src="/static/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
<script src="/static/libs/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js"></script>
<script src="/static/libs/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js"></script>
<script src="/static/libs/filepond-plugin-image-transform/filepond-plugin-image-transform.min.js"></script>

<!-- Dropzone JS -->
<script src="/static/libs/dropzone/dropzone-min.js"></script>

<!-- Fileupload JS -->
<script src="/static/js/fileupload.js"></script>

  <!-- Datatables Cdn -->
  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script src="/static/js/dataTables.bootstrap5.min.js"></script>
  <script src="/static/js/dataTables.responsive.min.js"></script>
  <script src="/static/js/dataTables.buttons.min.js"></script>
  <script src="/static/js/buttons.print.min.js"></script>
  <script src="/static/js/pdfmake.min.js"></script>
  <script src="/static/js/buttons.html5.min.js"></script>
  <script src="/static/js/jszip.min.js"></script>

  <!-- Internal Datatables JS -->
  <script src="/static/js/datatables.js"></script>
  <script src="/static/js/loader.js"></script>

  <script src="/static/js/sitios/index.js"></script>

     <!-- Chartjs Chart JS -->
     <script src="/static/libs/chart.js/chart.min.js"></script>

     <!-- Imternal Chartjs JS -->
     <script src="/static/js/chartjs-charts.js"></script>
  

