 <!-- Bootstrap Css -->
 <link id="style" href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
 <!-- Style Css -->
 <link href="/static/css/styles.min.css" rel="stylesheet" >
 <!-- Icons Css -->
 <link href="/static/css/icons.css" rel="stylesheet" >
 <!-- Node Waves Css -->
 <link href="/static/libs/node-waves/waves.min.css" rel="stylesheet" >
 <!-- Simplebar Css -->
 <link href="/static/libs/simplebar/simplebar.min.css" rel="stylesheet" >
 <!-- Color Picker Css -->
 <link rel="stylesheet" href="/static/libs/flatpickr/flatpickr.min.css">
 <link rel="stylesheet" href="/static/libs/@simonwep/pickr/themes/nano.min.css">
 <!-- Choices Css -->
<link rel="stylesheet" href="/static/libs/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet" href="/static/libs/jsvectormap/css/jsvectormap.min.css">
<link rel="stylesheet" href="/static/libs/swiper/swiper-bundle.min.css">
<!-- Prism CSS -->
<link rel="stylesheet" href="/static/libs/prism¿js/themes/prism-coy.min.css">

<link rel="stylesheet" href="/static/libs/filepond/filepond.min.css">
<link rel="stylesheet" href="/static/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">
<link rel="stylesheet" href="/static/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.css">
<link rel="stylesheet" href="/static/libs/dropzone/dropzone.css">

<link rel="stylesheet" href="/static/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/static/css/responsive.bootstrap.min.css">
<link rel="stylesheet" href="/static/css/buttons.bootstrap5.min.css">
<link rel="stylesheet" href="/static/css/preloader.css">
